<div class="sa-contenedor-Informacion-Lugar-Escogido">
  <div class="row">

    <div class="col-lg-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nombre del Lugar</mat-card-title>
          <mat-card-subtitle>Tipo de lugar</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <div class="row">
            <div class="col-lg-6" style="text-align: center">
              <button mat-fab color="primary" (click)="open(content)">
                <mat-icon matSuffix>update</mat-icon>
              </button>
              <p>Actualizar</p>
            </div>
            <div class="col-lg-6" style="text-align: center">
              <button mat-fab color="primary">
                <mat-icon matSuffix>delete</mat-icon>
              </button>
              <p>Eliminar</p>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-lg-9">
      <ngb-tabset>
        <div class="row">
          <div class="col-lg-6">
            <ngb-tab title="Descripción" *ngFor="let lugar of lugarSeleccionado">
              <ng-template ngbTabContent>
                <mat-card class="sa-Tarjeta-Informacion">
                  <mat-card-content>
                    <p> Lugar: {{lugar.tipoLugar}}</p>
                    <p> Sector: {{lugar.sectorLugar}}</p>
                  </mat-card-content>
                </mat-card>
              </ng-template>
            </ngb-tab>
          </div>
          <div class="col-lg-6">
            <ngb-tab title="Habitaciones">
              <ng-template ngbTabContent>
                <mat-card class="sa-Tarjeta-Informacion">
                  <mat-card-content>
                    <div class="row">
                      <div class="col-lg-1" style="text-align: center; padding-top: 50px">
                        <button mat-fab color="primary">
                          <mat-icon>add_circle</mat-icon>
                        </button>
                        <p>Nueva habitación</p>
                      </div>
                      <div class="col-lg-11">
                        <p-carousel  headerText="Lista de Habitaciones"  [value]="lugarSeleccionado[0].habitacion">
                          <ng-template let-room pTemplate="item">
                            <div class="ui-grid ui-grid-responsive">
                              <div class="ui-grid-row">
                                <div class="ui-grid-col-12"><img src="assets/imagenes/{{room.tipoHabitacion}}.png" width="60"></div>
                              </div>
                              <div class="ui-grid-row">
                                <div class="ui-grid-col-12">{{room.tipoHabitacion}}</div>
                              </div>
                              <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                  <button type="button" pButton icon="pi pi-search" (click)="selectHabitacion(room)" ></button>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </p-carousel>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </ng-template>
            </ngb-tab>
          </div>
        </div>
      </ngb-tabset>
    </div>

  </div>
</div>

<div class="sa-contenedor-Informacion-Lugar-Escogido">
  <button mat-stroked-button color="primary" (click)="gotoMain()">Regresar a la lista</button>
</div>

<br>

<div class="sa-contenedor-Informacion-Lugar-Escogido" *ngIf="habitacionSeleccionada" style="text-align: center">
  <app-descripcion-habitacion></app-descripcion-habitacion>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
              <mat-icon style="width: 1.2rem; height: 1rem; cursor: pointer;">calendar_today</mat-icon>
              <!--<img src="img/calendar-icon.svg" />-->
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>

<!--<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>-->
<!--<hr>-->
<!--<pre>{{closeResult}}</pre>-->
