



.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 50px;

}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  font-size: 50px;
}


.ui-grid-row {
  text-align: center;
  height: 45px;


}
