

/*.material-icons { font-size: 50px;  }*/

.pa-texto {text-align: center;}

.ui-grid-row {
  text-align: center;
  height: 35px;

}


.sa-contenedor-Preview-Sitios {
  margin: auto;
  width: 90%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.sa-contenedor-Preview-Plantas {
  margin: auto;
  width: 90%;
  border: 3px solid brown;
  padding: 10px;
}


