<p-growl [value]="msgs"></p-growl>
<p-growl [value]="msg"></p-growl>

<h1>Pagina Principal</h1>
<br>
<div class="sa-contenedor-Preview-Sitios">
  <div class="row">
    <div class="col-lg-2" style="text-align: center; padding: 35px">
      <button mat-fab color="primary" (click)="crearNuevoLugar()">
        <mat-icon><h4>add_circle</h4></mat-icon>
      </button>
      <p>Nuevo Sitio</p>
    </div>
    <div class="col-lg-10">
      <p-carousel  headerText="Mis Sitios" [value]="lugares">
        <ng-template let-lugar pTemplate="item">
          <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12"><img [src]="lugar.imagenLugar" alt="imagen del sitio" width="60"></div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-12">{{lugar.nombreLugar}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                <button type="button" pButton icon="pi pi-search" (click)="selectLugar(lugar)"></button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

</div>


<div class="sa-contenedor-Preview-Plantas">
  <div class="row">
    <div class="col-lg-2" style="text-align: center; padding-top: 80px">
      <button mat-fab color="primary">
        <mat-icon>add_circle</mat-icon>
      </button>
      <p>Nueva Planta</p>
    </div>
    <div class="col-lg-10">
      <p-carousel  headerText="Mis Plantas" [value]="plantas">
        <ng-template let-planta pTemplate="item">
          <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12"><img src="assets/imagenes/{{planta.especie}}.png" alt="imagen de la planta" width="60"></div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-6">Nombre</div>
              <div class="ui-grid-col-6">{{planta.nombre}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-6">Años</div>
              <div class="ui-grid-col-6">{{planta.anios}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-6">Color</div>
              <div class="ui-grid-col-6">{{planta.color}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-6">Especie</div>
              <div class="ui-grid-col-6">{{planta.especie}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                <button type="button" pButton icon="pi pi-search" (click)="selectPlanta(planta)"></button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>


