

<div class="contenedorLugares">
  <br>
  <h1>AQUI todo del contenido de mis lugares</h1>
  <div class="crearNuevoLugar">
    <h1>AQUI EL BOTON PARA CREAR NUEVO LUGAR</h1>
  </div>
  <div class="fichaLugarEscogido">
    <h1> AQUI la ficha para mostrar detalles de lugar escogido</h1>
  </div>
  <div class="listaLugaresCreados">
    <h1>AQUI ubicar carusel de los lugares creados</h1>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">Mis Lugares</div>
  <div class="col-sm-3" style="background-color: antiquewhite">
    <ul>
      <li>
        <a [routerLink]="['formularioLugar']"> Crear formulario</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-12" style="background-color: aquamarine">
    <router-outlet></router-outlet>
  </div>
</div>
