.crearNuevoLugar {
    background-color: deepskyblue;
    text-align: center;
    height: 150px;
    margin: 0 60px 0 60px;
    padding:0;
    box-sizing: border-box;
    display: block;
    border-style:solid;
    border-color: black; 
    border-width:thin; 
}

.fichaLugarEscogido {
    margin: 30px 60px 30px 60px;
    padding: 0;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: thin;
}