<div id="account-overview" v-cloak>
  <div class="container">
    <h1>My account</h1>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Información Personal</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/profile">Editar Perfil</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Nombre:</div>
      <div class="col"><strong>{{me.fullName}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Correo:</div>
      <div class="col">
        <strong :class="[me.emailStatus === 'unconfirmed' || me.emailStatus === 'changeRequested' ? 'text-muted' : '']">{{me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress}}</strong>
        <span v-if="me.emailStatus === 'unconfirmed' || me.emailStatus === 'changeRequested'" class="badge badge-pill badge-warning">Aún sin verificar</span>
      </div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Contraseña</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/password">Cambiar contraseña</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Contraseña:</div>
      <div class="col"><strong>••••••••••</strong></div>
    </div>
    <hr/>
    <div class="row mb-3" v-if="isBillingEnabled">
      <div class="col-sm-6">
        <h4>Información de pago</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <ajax-button :syncing="syncingOpenCheckout || syncingUpdateCard" class="btn btn-sm btn-outline-info account-settings-button" @click="clickStripeCheckoutButton()">
            <span slot="syncing-state">
              <span v-if="syncingOpenCheckout">Conectando...</span>
              <span v-else>Actualizando...</span>
            </span>
            <span slot="default">{{ me.hasBillingCard ? 'Change card' : 'Add Card' }}</span>
          </ajax-button>
        </span>
      </div>
    </div>
    <div v-if="isBillingEnabled && me.hasBillingCard">
      <div class="row">
        <div class="col-3">Tarjeta de crédito:</div>
        <div class="col">{{me.billingCardBrand}} termina en <strong>{{me.billingCardLast4}}</strong> <a class="remove-button ml-2" @click="clickRemoveCardButton()">Remover</a></div>
      </div>
      <div class="row">
        <div class="col-3">Fecha de expiración:</div>
        <div class="col">{{me.billingCardExpMonth}}/{{me.billingCardExpYear}}</div>
      </div>
    </div>
    <div class="alert alert-danger" v-else-if="isBillingEnabled && cloudError">
      Hubo un error al actualizar la tarjeta de crédito. Por favor verifica la información e inténtalo nuevamente, o <a href="/contact">contactar a soporte</a> si el error persiste.
    </div>
    <div class="alert alert-secondary" v-else-if="isBillingEnabled">
      Aún no has añadido información de pago a tu cuenta. Para accedes a características de pago, necesitas ingresar información de tu tarjeta de crédito. (No te preocupes: solo te cobraremos cuando hayas alcanzado el límite de tu plan gratuito.)
    </div>
  </div>

  <% /* Confirm Remove Card Info Modal */ %>
  <modal v-if="removeCardModalVisible" @close="closeRemoveCardModal()" v-cloak>
    <div class="modal-header">
      <h5 class="modal-title">Remover Información de Tarjeta?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="updateBillingCard" :syncing.sync="syncingRemoveCard" :cloud-error.sync="cloudError" :handle-parsing="handleParsingRemoveCardForm" @submitted="submittedRemoveCardForm()">
      <div class="modal-body">
        <p>Estás seguro de que quieres eliminar tu {{me.billingCardBrand}} terminada en <strong>{{me.billingCardLast4}}</strong>?</p>
        <p class="text-muted">Esto puede restringir tu acceso a características de pago.</p>
        <p class="text-danger" v-if="cloudError"><small>Ocurrió un error al procesar tu solicitud. Por favor verifica la información e inténtalo de nuevo, o <a href="/contact">contacta a soporte</a> si el problema persiste.</small></p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Olvídalo</button>
        <ajax-button type="submit" :syncing="syncingRemoveCard" class="btn btn-danger ml-1">Remover</ajax-button>
      </div>
    </ajax-form>
  </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
