<div class="sa-BarraSuperior">
  <!--<a (click)="regar()"><mat-icon><h1>play_circle_filled</h1></mat-icon></a>-->
  <a *ngIf="_authService.loggedIn()" (click)="_authService.loggedOut()"><mat-icon><h1>exit_to_app</h1></mat-icon></a>
  <a *ngIf="_authService.loggedIn()" (click)="irAlPerfilUsuario()"><mat-icon><h1>account_circle</h1></mat-icon></a>
  <a *ngIf="_authService.loggedIn()" (click)="irAlHome()"><mat-icon><h1>home</h1></mat-icon></a>

  <a *ngIf="!_authService.loggedIn()" (click)="irAlLogIn()"><h3>Login</h3></a>
  <a *ngIf="!_authService.loggedIn()" (click)="irAlSignIn()"><h3>Sign In</h3></a>
</div>
<app-contenedor-principal *ngIf="_authService.loggedIn()">
</app-contenedor-principal>
<div class="contenido">
  <router-outlet></router-outlet>
</div>
<br>
<br>
<div class="footer">
  <h5>Proyecto Riega la Planta.  Todos los Derechos reservados!!</h5>
</div>



