#sa-TopPagina {
    background-color: darkolivegreen;
    display: block;
    padding: 0;
    height: 70px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9997;
}

#sa-MenuBarraInicio {
    background-color: gray;
    float: none;
    width: 100%;
    height: 40px;
    margin: 0;
    text-align: center;

    /* display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0 60px 0 0;
    float: right;
    height: 100%; */
}

.sa-barraSuperiorPagina {
    background-color: forestgreen;
    box-sizing: border-box;
    display: block;
    padding: 0;
    height: 70px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9997;
}
