<div class="sa-BarraSuperior">
  <a (click)="regar()"><mat-icon><h1>play_circle_filled</h1></mat-icon></a>
  <a><mat-icon><h1>exit_to_app</h1></mat-icon></a>
  <a (click)="irAlPerfilUsuario()"><mat-icon><h1>account_circle</h1></mat-icon></a>
  <a (click)="irAlHome()"><mat-icon><h1>home</h1></mat-icon></a>
</div>


<app-contenedor-principal></app-contenedor-principal>
<div class="contenido">
  <router-outlet></router-outlet>
</div>
<br>
<br>
<div class="footer">
  <h5>Proyecto Riega la Planta.  Todos los Derechos reservados!!</h5>
</div>



