<!--<app-formulario-general-lugar></app-formulario-general-lugar>-->


<h1>Header</h1>
<div class="contenedorPrincipal">

  <div class="sa-barraSuperiorPagina">
    <h1>Estoy Probando la clase</h1>
  </div>

   
  <!-- <div class="row">
        <div class="col-sm-12" style="background-color: deepskyblue">
          <ul class="">
            <li>
              <a routerLink="/mislugares"><h3>MisLugares</h3></a>
            </li>
            <li>
              <a routerLink="/misplantas"><h3>MisPlantas</h3></a>
            </li>
            <li>
              <a routerLink="/stepper"><h3>Stepper</h3></a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12" style="background-color: greenyellow">
          <router-outlet></router-outlet>
        </div>
      </div> -->

  
  
  <div class="contenidoPagina">
    <router-outlet></router-outlet>
  </div>
  
  
  <h1>Footer</h1>
</div>