<div id="forgot-password" v-cloak>
  <div class="container">
    <h1 class="text-center">Recuperar password</h1>
    <div class="forgot-form" v-if="!cloudSuccess">
      <p class="text-center">Ingresa tu correo para reestablecer tu contraseña.</p>
      <hr/>
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="sturgeon@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor ingresa un correo válido.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Ocurrió un error al procesar tu petición. Por favor revisa la información e inténtalo de nuevo, o <a href="/contact">contacta a soporte</a> si el error persiste.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Enviar correo</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/login">Ingresar a mi cuenta</a></p>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p>Te hemos enviado un correo para reestablecer tu contraseña.</p>
      <hr/>
      <p>Si el correo no llega en un par de minutos, revisa la carpeta de correo no deseado. Si aún no lo encuentras, por favor inténtalo de nuevo, o <a href="/contact">contacta a soporte</a>.</p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login">Ingresar a mi cuenta</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
