<div class="sa-contenedor-Main" *ngIf="habitacionEscogida">
    <mat-card class="center" *ngFor="let habitacion of habitacionEscogida">
      <mat-card-header>

        <mat-card-title>Habitación</mat-card-title>
        <mat-card-subtitle>{{habitacion.nombreHabitacion}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="habitacion.imagenHabitacion" alt="Photo of a random room">
      <mat-card-content>
        <div class="row">
          <div class="col-lg-6">
            Nombre de la Habitación:
          </div>
          <div class="col-lg-6">
            {{habitacion.nombreHabitacion}}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-6">
            Tamaño de la Habitación:
          </div>
          <div class="col-lg-6">
            {{habitacion.tamanioHabitacion}}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-6">
            ¿Recibe Luz Solar la habitación?
          </div>
          <div class="col-lg-6">
            {{habitacion.luzSolarHabitacion}}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-6">
            Tipo de Ambiente de la Habitación:
          </div>
          <div class="col-lg-6">
            {{habitacion.descripcionHabitacion}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <p-dataScroller [value]="listaPlantasDeLaHabitacion" [rows]="2" *ngIf="listaPlantasDeLaHabitacion">
          <p-header>
            Lista de Plantas en la Habitación
          </p-header>
          <ng-template let-plant pTemplate="item" let-i="index">
            <div class="ui-g car-item">
              <div class="ui-g-12 ui-md-3">
                <img [src]="plant.imagenPlanta">
              </div>
              <div class="ui-g-12 ui-md-9">
                <div class="ui-g">

                  <div class="ui-g-2 ui-sm-6">Nombre de la Planta: </div>
                  <div class="ui-g-10 ui-sm-6">{{plant.nombrePlanta}}</div>

                  <div class="ui-g-2 ui-sm-6">Detalle de la Planta: </div>
                  <div class="ui-g-10 ui-sm-6">{{plant.detallePlanta}}</div>

                </div>
              </div>
            </div>
          </ng-template>
        </p-dataScroller>
      </mat-card-actions>
    </mat-card>
</div>



<router-outlet></router-outlet>
