/*.sa-contenedor-Informacion-Habitacion-Escogida {*/
  /*margin: auto;*/
  /*!*width: 90%;*!*/
  /*border: 3px solid brown;*/
  /*padding: 50px;*/
  /*text-align: center;*/
/*}*/

.center{
  width: 75%;
  margin: 10px auto;
}
.center image{
  max-width: 30px;
}

.sa-contenedor-Main{
  /*height: 100vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-card {
  text-align: center;
  max-width: 80%;
}

.sa-Tarjeta-Informacion{
  max-width: 100%;

  border: 3px solid brown;
}
